<!DOCTYPE html>

<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/header :: head ('블로그')"></head>

<body id="mb" class="d-flex flex-column h-100">
<header th:replace="layout/header :: header"></header>
<div class="bi"></div>
<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="p-2"></div>
        <div id="introduce" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
            <div class="col p-4 d-flex flex-column position-static">
                <a href="#" class="a-title">
                    <h3 class="mb-0 title d-flex justify-content-center" style="padding-bottom: 10px;"><br>에덴 동산에 오신 것을 환영합니다.</h3>
                </a><br><br>
                <p class="card-text mb-auto d-flex justify-content-center" align="center">
                    아담과 이브가 살았던 신들의 낙원, 에덴 동산.<br>
                    에덴의 뱀의 꾀에 넘어가 선악과를 먹어버린 그들은 에덴 동산에서 쫓겨나게 된다.<br>
                    하지만 무엇인가를 알고싶다는 호기심이 잘못된 것이었을까?<br>
                    당신이 아담과 이브였다면 선악과를 먹었을까, 먹지 않았을까?<br>
                    호기심은 무궁무진한 창조의 근본이다.<br>
                    여기, 에덴 동산에서 당신들의 상상력을 풀어내 무엇이든지 창조해 보아라.<br>
                    글로써 무엇이든지 창조해내는 당신이 곧 '신'일지니.
                </p><br>
                <div class="mb-1 text-muted d-flex justify-content-end" style="padding-top: 15px;">서기 8591년 5월 13일</div>
            </div>
        </div>


    </div>
</main>

<footer th:replace="layout/footer :: footer"></footer>

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>